{% extends 'base.html' %}

{% block content %}

<div class="main">
    <div class="text">
        <div class="fio">Мушкин Сергей Владимирович</div>
        <div class="group">Группа: 211-351</div>
        <div class="info">Сайт создан для лабараторных работ по предмету "Архитектура облачных приложений и систем"</div>
    </div>
    <div class="image">
        <img src="{{ url_for('static', filename='images/image.png') }}" alt="">
    </div>
</div>

<img src="{{ url_for('static', filename='images/genshin.png') }}" alt="" class="genshin">

{% endblock %}